.form{
    color: #5D341F;
    padding: 20px;
    margin: auto;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
.error{
    color: red;
    animation: blinkingText 1.2s infinite;
    font-weight: bold;
    margin: 4px;
    font-size: 16px;
}

@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

.textarea{
    background-color: white;
    color: #292626; 
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: none;
    resize: none;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    word-spacing: normal;
    box-shadow: 0 0.2rem 1rem #915940;
    width: 90%;
    height: 100%;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: top 0.3s;
}
.textarea::placeholder {
    color: #5D341F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.textarea:focus{
    top: -2px;
}
.title{
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    outline: none;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: top 0.3s;
    border: none;
    background-color: white;
    color: #292626;
    box-shadow: 0 0.2rem 1rem #915940;
    font-size: 16px;
}
.title::placeholder{
    color: #5D341F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.title:focus{
    top: -5px;
}

.btn{
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: 0;
    font-weight: bold;
    background-color: papayawhip;
    margin: 15px auto;
    font-size: 1rem;
    border: 4px solid #3B8C8F;
    transition: top 0.5s;
    transition: background-color 0.3s;
}

.btn:hover{
    top: -3px;
    background-color: #3B8C8F;
}