.cross{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFEFD5;
    background-color: red;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
    position: fixed;
  }
  .top{
    position: absolute;
    right: 5px;
    top: 2px;
    transition: top 0.2s; 
  }
  
  .top:hover{
    top: 4px;
  }
  
  .plus{
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    color: #F8F7F3;
    font-family: poppins;
    font-weight: 500;
    margin: 15px auto;
    font-size: 1.3rem;
    border: none;
    position: relative;
    bottom: 0;
    background-color: #3B8C8F;
    transition: 0.5s bottom;
  }

 .plus:hover{
  box-shadow: 0 0 10px rgba(33,33,33,22); 
 }
  
  .heading{
    margin: 20px;
    padding: 20px;
    /* color: #5D341F; */
  }
  
  .new{
    font-weight: bold;
    margin: 12px;
    /* color: #5D341F; */
  }
  
  .img{
    width: 70%;
    margin: 10px auto;
    transition: top 2s ;
    position: relative;  
    top:0;
    border-radius: 8px;
  }
  .img:hover {
    top: -2px;
  }
 
  .content {
    position: absolute;
    width: 70%;
    margin: auto;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
    border-radius: 8px;
    outline: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3B8C8F;
  }
  
  .animate-modal {
    animation: animatemodal 0.5s;
  }
  
  @keyframes animatemodal {
    from {
    /* bottom: -100px; */
      opacity: 0;
    }
    to {
      bottom: 40px;
      opacity: 1;
    }
  }
  
  @media (max-width : 800px){
    .img{
      width: 95%;
      height: auto;
    }
    .plus{
      padding: 10px;
      margin: 10px auto;
      font-size: 1.1rem;
    }
    .cross{
      padding: 10px;
    }
  }
  .else{
    margin: auto;
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;  
  }
  .greet{
    margin: auto;
    margin-top: 20px; 
  }
  .sign{
    margin: 10px;
  }
  .ps{
    width: 50%;
    margin: auto;
    background-color: #3B8C8F;
    padding: 5px;
    border-radius: 10px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    width: 90%;
    margin: auto;
    color: #292626;
}
@media (max-width : 800px){
    nav{
        width: 100%;
    }
}

.signIn{
    font-size: 24px;
    margin: 10px auto;
    cursor: pointer;
    color: #3B8C8F;
    position: relative;
    font-weight: 900;
    padding: 5px;
    border-bottom: 0;
    display: inline-block;
    position: relative;
}

.signIn:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F64C72;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.signIn:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.signIn:hover{
    color: #F64C72;;
}
.signOut{
    cursor: pointer;
    position: relative;
    /* display: inline-block; */
    position: relative;
    color: #3B8C8F;
}
.signOut::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F64C72;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.signOut:hover{
    color: #F64C72;;
}
.signOut:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}