@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html{
    background-color: #F8F7F3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100%;
    margin: auto;
    padding: 0;
}